<style type="text/css">
    .{{ attrs.id }}_util { float: right; margin-left: 5px; cursor: pointer;}
	#{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
	#{{ attrs.id }}_map .aligned label { float: inherit; }
    #{{ attrs.id }}_search_result_wrapper { display: none; float: right; width: 100px; height 100px; overflow-y: scroll; z-index: 1000; }

</style>

<span class="{{ attrs.id }}_util" id="{{ attrs.id }}_searchBtn">Find</span>
<input class="{{ attrs.id }}_util" id="{{ attrs.id }}_search" />
<span class="{{ attrs.id }}_util" id="{{ attrs.id }}_clear">Clear all features</span>
<span class="{{ attrs.id }}_util" id="{{ attrs.id }}_undo">Undo last change</span>
<div id="{{ attrs.id }}_search_result_wrapper"><ul id="{{ attrs.id }}_search_result"></ul></div>
<div id="{{ attrs.id }}_map"></div>
<textarea name="{{ name }}"{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>{{ value }}</textarea>
<script type="text/javascript">
    {% block map_options %}var map_options = {};{% endblock %}
    {% block options %}var options = {
        geom_type: '{{ geom_type }}',
        url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        id: '{{ attrs.id }}',
        is_collection: {{ is_collection|yesno:"true,false" }},
        is_linestring: {{ is_linestring|yesno:"true,false" }},
        is_point: {{ is_point|yesno:"true,false" }},
        is_polygon: {{ is_polygon|yesno:"true,false" }},
        map_id: '{{ attrs.id }}_map',
        map_options: map_options,
        map_srid: {{ map_srid }},
        name: '{{ name }}'
    };{% endblock %}
    var {{ module }} = new floppyforms.LeafletWidget(options);
    window.{{ module }} = {{ module }};
</script>

